# ========================================
# Proyecto ZoremGame - .gitignore
# ========================================

# Archivos y Carpetas Generados por Unity
# -----------------------------------------
Unity/[Ll]ibrary/
Unity/[Tt]emp/
Unity/[Oo]bj/
Unity/[Ll]ogs/
Unity/[Bb]uild/
Unity/[Bb]uilds/
Unity/Assets/AssetStoreTools/
Unity/UserSettings/

# Archivos de Proyectos de C#
# -----------------------------
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs

# IDEs
# -----
.idea/
.vscode/
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Carpetas de Compilación y Exportación
# ---------------------------------------
Builds/

# Archivos de caché del SO
# -------------------------
.DS_Store
Thumbs.db

# Archivos temporales de Blender
# --------------------------------
*.blend1
*.blend2