# ========================================
# Proyecto ZoremGame - .gitignore
# ========================================

# Archivos y Carpetas Generados por Unity
# -----------------------------------------
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Bb]uild/
/[Bb]uilds/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/[Cc]rashReports/
/Assets/AssetStoreTools/
/.vs/
/ExportedObj/
/.consulo/

# ¡IMPORTANTE! No ignorar los archivos meta de los assets en Unity
!*.[Mm]eta

# Archivos de Proyectos de C# generados
# -----------------------------
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Configuración y caché de IDEs
# -----
.idea/
.vscode/

# Carpetas de Compilación y Exportación Root
# ---------------------------------------
Builds/

# Archivos de caché del Sistema Operativo
# -------------------------
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Archivos temporales de Blender
# --------------------------------
*.blend1
*.blend2
*.blend@
*.crash